@model WebSite.Models.Entity.app_user_function
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/Content/assets/pages/j-pro/css/demo.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/pages/j-pro/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/pages/j-pro/css/j-pro-modern.css">



<div class="card">
    <div class="card-header">
        <h5> Update Func </h5>
        <span> </span>

    </div>
    <div class="card-block">
        <div class="j-wrapper j-wrapper-640">
            @using (Html.BeginForm("Update", "Authority", FormMethod.Post, new { @class = "md-float-material form-material" }))
            {
                @Html.HiddenFor(t => t.func_id, new { @class = "form-control" })

                <div class="j-content">
                    <div>
                        <label class="j-label">Function Name</label>
                        <div class="j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="func_name">
                                    <i class="icofont icofont-ui-user"></i>
                                </label>
                                @Html.TextBoxFor(t => t.func_name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="j-label"> Tag </label>
                        <div class="j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="tag">
                                    <i class="icofont icofont-ui-user"></i>
                                </label>
                                @Html.TextBoxFor(t => t.tag, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="j-label">Tool Tip</label>
                        </div>
                        <div class="j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="tooltip">
                                    <i class="icofont icofont-envelope"></i>
                                </label>
                                @Html.TextBoxFor(t => t.tooltip, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="j-label ">Up Function Id</label>
                        </div>
                        <div class="j-unit">
                            <div class="j-input">
                                <label class="j-icon-right" for="up_func_id">
                                    <i class="icofont icofont-ui-check"></i>
                                </label>
                                @Html.DropDownList("up_func_id")
                                @*     @Html.TextBoxFor(t => t.up_func_id, new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>

                    <div class="j-response"></div>
                </div>
                <!-- end /.content -->
                <div class="j-footer">
                    <button type="submit" class="btn btn-primary"> Update Func </button>
                </div>
                <!-- end /.footer -->
            }
        </div>
    </div>
</div>



<script type="text/javascript" src="~/Content/assets/pages/j-pro/js/custom/reg-form.js"></script>
<script src="~/Content/assets/js/vartical-layout.min.js"></script>


